body {
  font-family: 'Inknut Antiqua', sans-serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: #e5e4e2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #95703d;
  width: 300px;
  text-align: center;
  box-shadow: -6px -8px 9px rgb(70, 66, 66);
  -webkit-box-shadow: -6px -8px 9px hsl(0, 6%, 32%);
  -moz-box-shadow: -6px -8px 9px rgb(79, 70, 70);
}

/* LOGO */
.login_logo {
  height: 10rem;
  width: 14rem;
  background: url('img/FumeOrganizasyonDeneme2.png') no-repeat center
    center/cover;
  margin: auto;
  background-size: cover;
  border-radius: 1.2rem;
  box-shadow: -6px -8px 9px rgb(70, 66, 66);
  -webkit-box-shadow: -6px -8px 9px rgb(87, 77, 77);
  -moz-box-shadow: -6px -8px 9px rgb(79, 70, 70);
}

.login_title h1 {
  font-size: 1.7rem; /* İstediğiniz boyutu belirleyin */
  letter-spacing: 0.2rem;
  margin: 1rem 0;
  margin: 2rem 0;
  color: #95703d;
  font-weight: 500rem;
  font-family: 'Inknut Antiqua', sans-serif;
  font-style: italic;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10pxs;
  box-sizing: border-box;
  border: 1px solid #95703d;
  background-color: #e5e4e2;
  border-radius: 10px;
}

.input-div {
  margin-bottom: 10px; /* İstenen boşluk miktarını ayarlayabilirsiniz */
}

.container {
  margin-top: 10px; /* Formun üst kısmına boşluk ekleyebilirsiniz */
}

.container {
  width: 300px;
}
